$blur: rgba(255, 255, 255, 0.01);
$primary: rgb(128, 77, 121);
$on_primary: rgb(255, 255, 255);
$primary_container: rgb(255, 215, 244);
$on_primary_container: rgb(52, 8, 50);
$inverse_primary: rgb(242, 179, 229);
$primary_fixed: rgb(255, 215, 244);
$primary_fixed_dim: rgb(242, 179, 229);
$on_primary_fixed: rgb(52, 8, 50);
$on_primary_fixed_variant: rgb(102, 53, 96);
$secondary: rgb(110, 88, 104);
$on_secondary: rgb(255, 255, 255);
$secondary_container: rgb(245, 215, 235);
$on_secondary_container: rgb(39, 22, 36);
$secondary_fixed: rgb(247, 218, 238);
$secondary_fixed_dim: rgb(218, 191, 210);
$on_secondary_fixed: rgb(39, 22, 36);
$on_secondary_fixed_variant: rgb(85, 65, 80);
$tertiary: rgb(129, 83, 68);
$on_tertiary: rgb(255, 255, 255);
$tertiary_container: rgb(255, 219, 208);
$on_tertiary_container: rgb(50, 18, 7);
$tertiary_fixed: rgb(255, 219, 208);
$tertiary_fixed_dim: rgb(245, 184, 166);
$on_tertiary_fixed: rgb(50, 18, 7);
$source_color: rgb(252, 65, 244);
$error: rgb(186, 26, 26);
$on_error: rgb(255, 255, 255);
$error_container: rgb(255, 218, 214);
$on_error_container: rgb(65, 0, 2);
$surface_dim: rgb(227, 215, 221);
$surface: rgb(255, 247, 249);
$surface_bright: rgb(255, 247, 249);
$surface_container_lowest: rgb(255, 255, 255);
$surface_container_low: rgb(253, 240, 246);
$surface_container: rgb(247, 234, 241);
$surface_container_high: rgb(241, 229, 235);
$surface_container_highest: rgb(236, 223, 229);
$on_surface: rgb(32, 26, 30);
$on_surface_variant: rgb(78, 68, 75);
$outline: rgb(128, 116, 123);
$outline_variant: rgb(209, 194, 203);
$inverse_surface: rgb(53, 46, 51);
$inverse_on_surface: rgb(250, 237, 244);
$surface_variant: rgb(238, 222, 231);
$background: rgb(255, 247, 249);
$on_background: rgb(32, 26, 30);
$shadow: rgb(0, 0, 0);
$scrim: rgb(0, 0, 0);
$on_tertiary_fixed_variant: rgb(102, 60, 46);