$blur: rgba(255, 255, 255, 0.01);
$primary: rgb(58, 96, 143);
$on_primary: rgb(255, 255, 255);
$primary_container: rgb(211, 227, 255);
$on_primary_container: rgb(0, 28, 56);
$inverse_primary: rgb(163, 201, 254);
$primary_fixed: rgb(211, 227, 255);
$primary_fixed_dim: rgb(163, 201, 254);
$on_primary_fixed: rgb(0, 28, 56);
$on_primary_fixed_variant: rgb(31, 72, 118);
$secondary: rgb(84, 95, 112);
$on_secondary: rgb(255, 255, 255);
$secondary_container: rgb(213, 224, 245);
$on_secondary_container: rgb(17, 28, 43);
$secondary_fixed: rgb(216, 227, 248);
$secondary_fixed_dim: rgb(188, 199, 219);
$on_secondary_fixed: rgb(17, 28, 43);
$on_secondary_fixed_variant: rgb(60, 71, 88);
$tertiary: rgb(109, 86, 119);
$on_tertiary: rgb(255, 255, 255);
$tertiary_container: rgb(245, 217, 255);
$on_tertiary_container: rgb(38, 20, 48);
$tertiary_fixed: rgb(245, 217, 255);
$tertiary_fixed_dim: rgb(217, 189, 227);
$on_tertiary_fixed: rgb(38, 20, 48);
$source_color: rgb(84, 132, 192);
$error: rgb(186, 26, 26);
$on_error: rgb(255, 255, 255);
$error_container: rgb(255, 218, 214);
$on_error_container: rgb(65, 0, 2);
$surface_dim: rgb(216, 218, 224);
$surface: rgb(248, 249, 255);
$surface_bright: rgb(248, 249, 255);
$surface_container_lowest: rgb(255, 255, 255);
$surface_container_low: rgb(242, 243, 250);
$surface_container: rgb(237, 237, 244);
$surface_container_high: rgb(231, 232, 238);
$surface_container_highest: rgb(225, 226, 232);
$on_surface: rgb(25, 28, 32);
$on_surface_variant: rgb(67, 71, 78);
$outline: rgb(115, 119, 127);
$outline_variant: rgb(195, 198, 207);
$inverse_surface: rgb(46, 48, 53);
$inverse_on_surface: rgb(239, 240, 247);
$surface_variant: rgb(223, 226, 235);
$background: rgb(248, 249, 255);
$on_background: rgb(25, 28, 32);
$shadow: rgb(0, 0, 0);
$scrim: rgb(0, 0, 0);
$on_tertiary_fixed_variant: rgb(84, 63, 94);