$blur: rgba(255, 255, 255, 0.01);
$primary: rgb(46, 98, 140);
$on_primary: rgb(255, 255, 255);
$primary_container: rgb(205, 229, 255);
$on_primary_container: rgb(0, 29, 50);
$inverse_primary: rgb(154, 203, 250);
$primary_fixed: rgb(205, 229, 255);
$primary_fixed_dim: rgb(154, 203, 250);
$on_primary_fixed: rgb(0, 29, 50);
$on_primary_fixed_variant: rgb(11, 74, 114);
$secondary: rgb(81, 96, 111);
$on_secondary: rgb(255, 255, 255);
$secondary_container: rgb(210, 225, 244);
$on_secondary_container: rgb(14, 29, 42);
$secondary_fixed: rgb(213, 228, 246);
$secondary_fixed_dim: rgb(185, 200, 218);
$on_secondary_fixed: rgb(14, 29, 42);
$on_secondary_fixed_variant: rgb(58, 72, 87);
$tertiary: rgb(103, 88, 122);
$on_tertiary: rgb(255, 255, 255);
$tertiary_container: rgb(238, 220, 255);
$on_tertiary_container: rgb(34, 21, 51);
$tertiary_fixed: rgb(238, 220, 255);
$tertiary_fixed_dim: rgb(210, 191, 231);
$on_tertiary_fixed: rgb(34, 21, 51);
$source_color: rgb(27, 35, 43);
$error: rgb(186, 26, 26);
$on_error: rgb(255, 255, 255);
$error_container: rgb(255, 218, 214);
$on_error_container: rgb(65, 0, 2);
$surface_dim: rgb(216, 218, 223);
$surface: rgb(247, 249, 255);
$surface_bright: rgb(247, 249, 255);
$surface_container_lowest: rgb(255, 255, 255);
$surface_container_low: rgb(241, 244, 249);
$surface_container: rgb(236, 238, 243);
$surface_container_high: rgb(230, 232, 238);
$surface_container_highest: rgb(224, 226, 232);
$on_surface: rgb(24, 28, 32);
$on_surface_variant: rgb(66, 71, 78);
$outline: rgb(114, 119, 127);
$outline_variant: rgb(194, 199, 207);
$inverse_surface: rgb(45, 49, 53);
$inverse_on_surface: rgb(238, 241, 246);
$surface_variant: rgb(222, 227, 235);
$background: rgb(247, 249, 255);
$on_background: rgb(24, 28, 32);
$shadow: rgb(0, 0, 0);
$scrim: rgb(0, 0, 0);
$on_tertiary_fixed_variant: rgb(79, 64, 97);