$bg_dim: #f2e5bc;
$bg_0: #fbf1c7;
$bg_1: #f4e8be;
$bg_2: #f2e5bc;
$bg_3: #eee0b7;
$bg_4: #e5d5ad;
$bg_5: #ddccab;
$bg_status_line1: #f2e5bc;
$bg_status_line2: #f2e5bc;
$bg_status_line3: #e5d5ad;
$bg_diff_green: #e6eabc;
$bg_visual_green: #dee2b6;
$bg_diff_red: #f9e0bb;
$bg_visual_red: #f1d9b5;
$bg_diff_blue: #e2e6c7;
$bg_visual_blue: #dadec0;
$bg_visual_yellow: #f1e7b3;
$bg_current_word: #f2e5bc;
$fg_0: #654735;
$fg_1: #4f3829;
$red: #c14a4a;
$orange: #c35e0a;
$yellow: #b47109;
$green: #6c782e;
$aqua: #4c7a5d;
$blue: #45707a;
$purple: #945e80;
$bg_red: #ae5858;
$bg_green: #6f8352;
$bg_yellow: #a96b2c;
$gray_0: #a89984;
$gray_1: #928374;
$gray_2: #7c6f64;