.applauncher {
    background-color: $blur;
    border-radius: 16px;
}

.app-item {
    background-color: transparent;
}

.app-title {
    margin-left: 8px;
    color: $on_primary;
}

.app-list {
    margin: 8px;
}

.app-entry-box {
    background-color: transparentize($color: $primary_container, $amount: 0.4);
    color: $on_primary;
    border-radius: 12px;
    margin: 8px 8px 0px 8px;
}