.bar {
    background-color: $blur;
    border-radius: 16px;

    .bar-contents-date {
        margin: 8px;
        color: $on_primary;
        font-size: 16px;
        border-radius: 12px;
        font-weight: bold;
    }

    .bar-contents {
        color: $on_primary;
        font-size: 16px;
        border-radius: 12px;
        font-weight: bold;
    }

    .bar-contents-start {
        padding-left: 12px;
    }

    .bar-contents-end {
        padding-right: 12px;
    }

    .bar-distro-icon {
        color: $primary_container;
    }
}

.bar-icon {
    font-family: "Material Symbols Rounded";
}

.workspace {

    button {
        border: none;
        background: none;
        box-shadow: none;
        outline: none;
        border-radius: 0;
        padding: 0;
    }

    .workspace-fill {
        background: $outline;
        padding: 4px;
        margin: 2px;
        transition: all 300ms $standard;
        border-radius: 8px;
        opacity: 0.6;
    }

    .active-workspace {
        .workspace-fill {
            padding-left: 6px;
            padding-right: 6px;
            padding-top: 6px;
            padding-bottom: 6px;
            background: $primary_container;
        }
    }

    .focused-workspace {
        .workspace-fill {
            padding-left: 14px;
            padding-right: 14px;
            padding-top: 6px;
            padding-bottom: 6px;
        }
    }
}