.clip-container {
    background-color: $blur;
    border-radius: 16px;
}

.clip-item {
    background-color: transparent;
}

.clip-title {
    margin-left: 8px;
    color: $on_primary;
}

.clip-list {
    margin: 8px;
}