$emphasized_decelerate: cubic-bezier(0.05, 0.7, 0.1, 1.0);
$emphasized_accelerate: cubic-bezier(0.3, 0.0, 0.8, 0.15);
$standard: cubic-bezier(0.2, 0.0, 0, 1.0);
$standard_decelerate: cubic-bezier(0, 0, 0, 1);
$standard_accelerate: cubic-bezier(0.3, 0, 1, 1);