$blur: rgba(255, 255, 255, 0.01);
$primary: {{colors.primary.light.rgb}};
$on_primary: {{colors.on_primary.light.rgb}};
$primary_container: {{colors.primary_container.light.rgb}};
$on_primary_container: {{colors.on_primary_container.light.rgb}};
$inverse_primary: {{colors.inverse_primary.light.rgb}};
$primary_fixed: {{colors.primary_fixed.light.rgb}};
$primary_fixed_dim: {{colors.primary_fixed_dim.light.rgb}};
$on_primary_fixed: {{colors.on_primary_fixed.light.rgb}};
$on_primary_fixed_variant: {{colors.on_primary_fixed_variant.light.rgb}};
$secondary: {{colors.secondary.light.rgb}};
$on_secondary: {{colors.on_secondary.light.rgb}};
$secondary_container: {{colors.secondary_container.light.rgb}};
$on_secondary_container: {{colors.on_secondary_container.light.rgb}};
$secondary_fixed: {{colors.secondary_fixed.light.rgb}};
$secondary_fixed_dim: {{colors.secondary_fixed_dim.light.rgb}};
$on_secondary_fixed: {{colors.on_secondary_fixed.light.rgb}};
$on_secondary_fixed_variant: {{colors.on_secondary_fixed_variant.light.rgb}};
$tertiary: {{colors.tertiary.light.rgb}};
$on_tertiary: {{colors.on_tertiary.light.rgb}};
$tertiary_container: {{colors.tertiary_container.light.rgb}};
$on_tertiary_container: {{colors.on_tertiary_container.light.rgb}};
$tertiary_fixed: {{colors.tertiary_fixed.light.rgb}};
$tertiary_fixed_dim: {{colors.tertiary_fixed_dim.light.rgb}};
$on_tertiary_fixed: {{colors.on_tertiary_fixed.light.rgb}};
$source_color: {{colors.source_color.light.rgb}};
$error: {{colors.error.light.rgb}};
$on_error: {{colors.on_error.light.rgb}};
$error_container: {{colors.error_container.light.rgb}};
$on_error_container: {{colors.on_error_container.light.rgb}};
$surface_dim: {{colors.surface_dim.light.rgb}};
$surface: {{colors.surface.light.rgb}};
$surface_bright: {{colors.surface_bright.light.rgb}};
$surface_container_lowest: {{colors.surface_container_lowest.light.rgb}};
$surface_container_low: {{colors.surface_container_low.light.rgb}};
$surface_container: {{colors.surface_container.light.rgb}};
$surface_container_high: {{colors.surface_container_high.light.rgb}};
$surface_container_highest: {{colors.surface_container_highest.light.rgb}};
$on_surface: {{colors.on_surface.light.rgb}};
$on_surface_variant: {{colors.on_surface_variant.light.rgb}};
$outline: {{colors.outline.light.rgb}};
$outline_variant: {{colors.outline_variant.light.rgb}};
$inverse_surface: {{colors.inverse_surface.light.rgb}};
$inverse_on_surface: {{colors.inverse_on_surface.light.rgb}};
$surface_variant: {{colors.surface_variant.light.rgb}};
$background: {{colors.background.light.rgb}};
$on_background: {{colors.on_background.light.rgb}};
$shadow: {{colors.shadow.light.rgb}};
$scrim: {{colors.scrim.light.rgb}};
$on_tertiary_fixed_variant: {{colors.on_tertiary_fixed_variant.light.rgb}};