/**
 * @name Voidarium
 * @author EldoDebug
 * @version 1.0.0
 * @description Voidarium Discord Theme
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css');

:root {
  --background: transparent;
  --backgroundsize: cover;
  --backgroundposition: center;
  --backgroundblur: 0px;
  --popout: transparent;
  --popoutsize: var(--backgroundsize);
  --backgroundposition: center;
  --popoutblur: 0px;
  --transparencycolor: {{colors.primary.light.red}}, {{colors.primary.light.green}}, {{colors.primary.light.blue}};
  --accentcolor: {{colors.primary.light.red}}, {{colors.primary.light.green}}, {{colors.primary.light.blue}};
  --backdrop: rgb(2,30,255,0);
  --textshadow: rgb(106,25,25,0);
  --transparencyalpha: 0;
  --messagetransparency: 0;
  --guildchanneltransparency: 0;
  --chatinputtransparency: 0;
  --memberlisttransparency: 0;
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 200,200,200;
  --textdark: 160,160,160;
  --textdarker: 125,125,125;
  --textdarkest: 90,90,90;
  --settingsicons: 1;
  --backdropsize: var(--background-size);
  --backdropblur: 0px;
  --version1_0_5: none;
}