$blur: rgba(255, 255, 255, 0.01);
$primary: rgb(70, 93, 145);
$on_primary: rgb(255, 255, 255);
$primary_container: rgb(217, 226, 255);
$on_primary_container: rgb(0, 25, 67);
$inverse_primary: rgb(175, 198, 255);
$primary_fixed: rgb(217, 226, 255);
$primary_fixed_dim: rgb(175, 198, 255);
$on_primary_fixed: rgb(0, 25, 67);
$on_primary_fixed_variant: rgb(45, 70, 120);
$secondary: rgb(87, 94, 113);
$on_secondary: rgb(255, 255, 255);
$secondary_container: rgb(219, 226, 249);
$on_secondary_container: rgb(20, 27, 44);
$secondary_fixed: rgb(219, 226, 249);
$secondary_fixed_dim: rgb(191, 198, 220);
$on_secondary_fixed: rgb(20, 27, 44);
$on_secondary_fixed_variant: rgb(63, 71, 89);
$tertiary: rgb(114, 85, 115);
$on_tertiary: rgb(255, 255, 255);
$tertiary_container: rgb(252, 215, 251);
$on_tertiary_container: rgb(42, 19, 45);
$tertiary_fixed: rgb(252, 215, 251);
$tertiary_fixed_dim: rgb(223, 187, 222);
$on_tertiary_fixed: rgb(42, 19, 45);
$source_color: rgb(70, 121, 219);
$error: rgb(186, 26, 26);
$on_error: rgb(255, 255, 255);
$error_container: rgb(255, 218, 214);
$on_error_container: rgb(65, 0, 2);
$surface_dim: rgb(218, 217, 224);
$surface: rgb(250, 249, 255);
$surface_bright: rgb(250, 249, 255);
$surface_container_lowest: rgb(255, 255, 255);
$surface_container_low: rgb(243, 243, 250);
$surface_container: rgb(238, 237, 244);
$surface_container_high: rgb(232, 231, 239);
$surface_container_highest: rgb(226, 226, 233);
$on_surface: rgb(26, 27, 32);
$on_surface_variant: rgb(68, 70, 79);
$outline: rgb(117, 119, 128);
$outline_variant: rgb(197, 198, 208);
$inverse_surface: rgb(47, 48, 54);
$inverse_on_surface: rgb(241, 240, 247);
$surface_variant: rgb(225, 226, 236);
$background: rgb(250, 249, 255);
$on_background: rgb(26, 27, 32);
$shadow: rgb(0, 0, 0);
$scrim: rgb(0, 0, 0);
$on_tertiary_fixed_variant: rgb(89, 62, 90);